.inline-code {
  background-color: #2c2c2c;
  border: 1px solid var(--borderColorBlack);
  padding: 2px 5px;
  border-radius: 3px;
  font-family: monospace;
  color: #f8f8f2;
}

.code-block {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  font-family: "Fira Code", monospace;
  position: relative;
}

.code-block pre {
  white-space: pre-wrap !important;
  overflow-wrap: anywhere;
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
  color: #f8f8f2;
  background-color: transparent;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #202020;
  margin: 1em 0;
  padding: 0;
}

a {
  color: #e48d49;
}

a:hover {
  text-decoration: none;
}

.footer-docs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: var(--borderColorBlack) 1px solid;
  border-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-docs.full {
  border-bottom: var(--borderColorBlack) 1px solid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-docs p {
  font-size: 15px;
  font-family: "Satoshi";
}
.footer-docs a {
  font-size: 15px;
  font-family: "Satoshi";
  color: #ffffff;
}

.links-docs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.copy-code-btn {
  padding: 15px;
  position: absolute;
  right: 10px;
  top: 20px;
  background-color: var(--blackDark);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--borderColorBlack);
  border-radius: 5px;
  cursor: pointer;
}

#checkMark {
  position: absolute;
  opacity: 0;
}

.codegroup {
  margin-bottom: 2rem;
}

.tabs {
  display: flex;
  gap: 0px;
  align-items: center;
  margin-bottom: 8px;
  flex-wrap: wrap;
  gap: 5px;
}

.tab {
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background: #1e1e1e;
  color: #ccc;
  font-family: "Geist", sans-serif;
}

.tab.active {
  background: black;
  color: white;
}

@media (max-width: 568px) {
  .footer-docs {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: stretch;
  }
}
