.main-textSlide-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: rgb(223, 223, 223);
  font-family: "Satoshi";
}

.textSlide-page {
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
