.main-first-section {
  height: 100%;
  width: 100%;
  min-height: 1000px;
}

.firstSection {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }

  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}

.main-home-page:after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  height: 300%;
  width: 300%;
  position: fixed;
  opacity: 0.07;
  animation: animateGrain 8s steps(10) infinite;
}

.text__main {
  height: 70%;
  display: flex;
  justify-content: center;
  font-family: "Geist", sans-serif;
  font-size: 2.5em;
  flex-direction: column;
}

.text__main h1 {
  font-weight: 400;
  line-height: 0.8;
  width: 80%;
  letter-spacing: -0.04em;
}

.text__bottom {
  max-width: 1000px;
  position: relative;
  top: 25px;
  line-height: 0.3;
}

.text__bottom span {
  font-size: 20px;
  font-family: "Satoshi", sans-serif;
  letter-spacing: -0.02em;
  line-height: 1;
  font-weight: 400;
}

.btns__main {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.comp__prev {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: rgba(241, 241, 241, 0.06);
  backdrop-filter: blur(82px);
  border: 1px solid var(--borderColorWhite);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.wrapppp {
  width: 98%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3.5%;
}

.comp {
  width: 24.5%;
  height: 100%;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.vid {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.vid video {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: relative;
  top: -10px;
  left: 5px;
}

.details-btn {
  height: 30px;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.25);
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-family: "Geist", sans-serif;
  letter-spacing: -0.02em;
  font-size: 12px;
}

.btn-go button {
  background: black;
  border: 1px solid black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@media (max-width: 1064px) {
  .text__main {
    font-size: 1.5em;
  }
}

@media (max-width: 1256px) {
  .comp:nth-child(3) {
    display: none;
  }

  .comp {
    width: 100%;
  }
}

@media (max-height: 956px) {
  .text__main {
    height: 70%;
    min-height: 500px;
    position: absolute;
  }

  .comp__prev {
    height: 30%;
    min-height: 250px;
    position: absolute;
    bottom: 50px;
  }

  .text__bottom span {
    font-size: 14px;
  }
}

@media (max-width: 956px) {
  .comp:nth-child(2) {
    display: none;
  }
}

@media (max-width: 520px) {
  .text__main h1 {
    font-size: 1.5em;
    width: 100%;
  }

  .comp {
    height: 200px;
  }

  .wrapppp {
    width: 95%;
  }

  .comp__prev {
    height: 225px;
    min-height: 220px;
    margin-bottom: 200px;
  }
}

@media (max-width: 751px) {
  .text__main {
    font-size: 1.2em;
  }
}
