.main-navbar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000000;
}

.navbar {
  height: 100%;
  width: 90%;
  max-width: 2000px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.2s ease;
  border-radius: 50px;
}

.logoLeft {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 100000;
}

.logoLeft img {
  height: 40px;
}

.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  font-family: "Satoshi";
  font-weight: 500;
}

.navigation a {
  color: var(--textColorBlack);
  text-decoration: none;
  font-size: 18px;
}

.button-menu {
  display: flex;
  height: 50px;
  width: 50px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.line1,
.line2 {
  width: 80%;
  height: 2px;
  background-color: black;
  position: relative;
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
  top: 0;
}

.line1.active {
  transform: rotate(45deg);
}

.line2.active {
  top: -6px;
  transform: rotate(-45deg);
}

.group1-nav {
  display: none;
  width: 100%;
  position: absolute;
  right: 0;
}

.menu-nav {
  height: fit-content;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Satoshi";
  padding: 15px 10px;
  clip-path: inset(0 0 100% 0); /* hidden from top */
  display: none;
}

.wrap1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 100px;
}

.menu-nav a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 500;
}

@media (max-width: 538px) {
  .menu-nav {
    display: block;
  }

  .main-navbar {
    /* border-bottom: 1px solid black; */
  }

  .group1-nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
  }

  .button-menu {
    display: none;
  }

  .navigation {
    display: none;
  }
}
