.main-home-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    -290deg,
    #fffb00 0%,
    /* yellow start */ #fffb00 5%,
    /* yellow to blend till 25% */ #f1f1f1 20%,
    /* gray start blending in at 25-40% */ #f1f1f1 60%,
    /* gray takes most space till 60% */ #fffb00 105%,
    /* yellow starts blending back at 60-75% */ #fffb00 50% /* yellow end */
  );
  background-size: 120% 150%;
  min-height: 900px;
}

.home-page {
  height: 100%;
  width: 100%;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }

  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}

.main-home-page:after {
  content: "";
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  height: 300%;
  width: 300%;
  position: fixed;
  opacity: 0.05;
  animation: animateGrain 8s steps(10) infinite;
}

@media (max-width: 520px) {
  .main-home-page {
    min-height: 800px;
  }
}
