.lunarNavBarWrapper {
  position: relative;
  display: inline-flex;
  background-color: rgb(252, 244, 103);
  border-radius: 50px;
  padding: 5px 45px 5px 5px;
  align-items: center;
  gap: 20px;
  color: black;
}

.lunarNavItemsContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 50px;
  opacity: 1;
}

.lunarNavHoverSelector {
  position: absolute;
  width: var(--selector-width);
  height: 95%;
  background: rgba(185, 176, 2, 0.6);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0px 20px;
  opacity: 0;
}

.lunarNavActiveSelector {
  position: absolute;
  width: var(--selector-width);
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  left: 0;
}

.lunarNavDot {
  height: 4px;
  width: 4px;
  background-color: black;
  border-radius: 50%;
}

.lunarNavItem h1 {
  font-size: 20px;
  font-family: "Satoshi";
  font-weight: 500;
}

.lunarNavItem {
  cursor: pointer;
  position: relative;
}

.lunarNavLogo {
  height: 50px;
  background-color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.lunarNavLogo img {
  height: 25px;
  padding: 0px 10px;
  object-fit: cover;
}

.lunarNavMenuButton {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  transition: all 0.2s ease-in-out;
}

.lunarNavMenuButtonWrapper {
  width: 100%;
  display: none;
  justify-content: flex-end;
}

.lunarNavLineOne,
.lunarNavLineTwo {
  height: 2px;
  width: 85%;
  background-color: black;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lunarNavLineOne.active {
  transform: rotate(45deg);
}

.lunarNavLineTwo.active {
  transform: rotate(-45deg);
  position: relative;
  top: -4px;
}

.lunarNavMenuButton:active {
  scale: 0.9;
}

@media (max-width: 590px) {
  .lunarNavMenuButtonWrapper {
    display: flex;
  }

  .lunarNavItemsContainer {
    display: none;
  }

  .lunarNavMenuButton {
    display: flex;
  }

  .lunarNavBarWrapper {
    padding: 5px 10px 5px 5px;
    gap: 5px;
  }
}
