.linkText {
  font-size: 33px;
  font-weight: 500;
  font-family: "Satoshi";
  display: inline-flex;
  flex-direction: column;
  gap: 1px;
  overflow: hidden;
  cursor: pointer;
}

.linkText a {
  color: black;
  text-decoration: none;
}

.underLine {
  height: 1px;
  width: 100%;
  background-color: black;
  position: relative;
  transform: translateX(-101%);
  will-change: transform;
}
