.main-sidebar {
  height: 100%;
  min-height: 100vh;
  width: min(20%, 450px) !important;
  background-color: var(--black);
  border-right: 1px solid var(--borderColorBlack);
  border-left: 1px solid var(--borderColorBlack);
  position: fixed;
  z-index: 100000;
}

.logoTop {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid var(--borderColorBlack);
  border-right: 1px solid var(--borderColorBlack);
  border-left: 1px solid var(--borderColorBlack);
  background-color: var(--black);
}

.logoTop img {
  width: 50px;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.star-github button {
  padding: 5px 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Satoshi";
  background-color: #1a1a1a;
  border: 1px solid var(--borderColorBlack);
  color: white;
  border-radius: 23px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.star-github button:hover {
  transform: scale(1.03);
}

.nav-items {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 23px;
}
.nav-items kbd {
  position: absolute;
  color: white;
  background: var(--borderColorBlack);
  border-top: 1px solid #727272;
  border-left: 1px solid #727272;
  border-right: 1px solid #727272;
  border-bottom: 2px solid #727272;
  padding: 1px 4px;
  border-radius: 3px;
  right: 17px;
  transform: scale(0.75);
  transition: transform 0.2s ease-in-out;
}

.search button {
  padding: 10px;
  background: var(--blackDark);
  border: 1px solid var(--borderColorBlack);
  border-radius: 23px;
  padding-left: 20px;
  font-family: "Satoshi";
  position: absolute;
  color: white;
  width: 100%;
  text-align: left;
}

.search {
  position: relative;
  display: inline-block;
}

.nav-items kbd {
  position: absolute;
  color: white;
  background: var(--borderColorBlack);
  border-top: 1px solid #727272;
  border-left: 1px solid #727272;
  border-right: 1px solid #727272;
  border-bottom: 2px solid #727272;
  padding: 1px 4px;
  border-radius: 3px;
  right: 10px;
  transform: scale(0.75);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.search button {
  padding: 10px;
  background: var(--blackDark);
  border: 1px solid var(--borderColorBlack);
  border-radius: 8px;
  padding-left: 35px;
  font-family: "Satoshi";
  position: absolute;
  color: white;
  width: 100%;
  text-align: left;
  transition: scale 0.2s ease-in-out;
  cursor: pointer;
}

.search img {
  width: 20px;
  filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(27deg)
    brightness(97%) contrast(106%);
  margin-left: 10px;
  margin-top: -1px;
}

.search {
  position: relative;
  width: 175px;
  height: 80px;
  display: flex;
  align-items: center;
}

#buttonStar img {
  height: 25px;
  width: 25px;
  filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(27deg)
    brightness(97%) contrast(106%);
}

.main {
  height: 80%;
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main {
  height: 80%;
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 23px;
  }
}

.close {
  display: none;
}
.category h1 {
  font-family: "Satoshi";
  color: rgb(192, 192, 192);
  font-size: 11px;
  font-weight: 500;
  margin-left: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.menuIcon {
  display: none;
}

.nav-mobile {
  display: none;
}

.items a {
  font-size: 15px;
  font-family: "Satoshi";
  color: rgb(255, 255, 255);
  width: 95%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 5px;
  transition: all 0.2s ease;
  text-decoration: none;
}

.items a:hover {
  background-color: rgb(58, 58, 58);
  cursor: pointer;
}

.item.active {
  background-color: rgb(34, 34, 34);
}

.item.active:hover {
  background-color: rgb(34, 34, 34);
}

@keyframes blink {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.main-search-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 100000000000;
  background-color: #303030a2;
  opacity: 0;
  z-index: 0;
}

.search-box {
  background-color: var(--blackDark);
  width: 50%;
  height: fit-content;
  min-height: 400px;
  max-height: 600px;
  max-width: 800px;
  margin-top: 50px;
  border: 1px solid var(--borderColorBlack);
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: relative;
  opacity: 0;
}

.input-search {
  width: 100%;
  position: relative;
}

.input-search input {
  background: none;
  border: none;
  font-family: "Satoshi";
  width: 100%;
  height: 80px;
  padding-left: 50px;
  font-size: 18px;
  color: #c9c9c9;

  border-bottom: 1px solid var(--borderColorBlack);
}

.input-search {
  display: flex;
  align-content: center;
  flex-direction: row;
}

.input-search img {
  position: absolute;
  height: fit-content;
  margin-top: 28px;
  margin-left: 20px;
  width: 25px;
  filter: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(2918%)
    hue-rotate(153deg) brightness(109%) contrast(100%);
}
.input-search svg {
  position: absolute;
  height: fit-content;
  margin-top: 33.5px;
  right: 20px;
  width: 17px;
  filter: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(2918%)
    hue-rotate(153deg) brightness(109%) contrast(100%);
  cursor: pointer;
}

.results-search {
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 231);
  font-size: 16px;
  font-family: "Satoshi";
}

.not-found-search {
  margin-top: -20px;
  display: flex;
}

.default-empty-search {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.wrap-fasd {
  display: flex;
  flex-direction: column;
}

.wrap-fasd span {
  color: rgb(184, 184, 184);
}

.items-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: fit-content;
  gap: -5px;
}

.item-search {
  padding: 5px 15px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e2e2e;
  border: 1px solid var(--borderColorBlack);
  cursor: pointer;
  transform: scale(0.8);
  margin-left: -12px;
}

.input-search input:focus {
  border-top: none;
  outline: none;
}

.links-search {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.links-search a {
  font-size: 14px;
}

.results-success {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
  max-height: 600px;
}

.icon-left-search {
  width: 80px;
  height: 80%;
  background-color: #1a1a1a;
  border: 1px solid var(--black);
}

.wrap-acm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
  gap: 1px;
}

.wrap-acm span {
  font-size: 11px;
  color: #d4d4d4;
}

.wrap-acm a {
  color: white;
  text-decoration: none;
  font-size: 19px;
}

.result {
  width: 100%;
  height: 80px;
  min-height: 80px;
  display: flex;
  align-items: center;
  background-color: #222222;
  border: 1px solid var(--black);
  padding: 0px 5px;
  border-radius: 5px;
  flex-direction: row;
  gap: 5px;
  cursor: pointer;
}

.searchIcon {
  width: 35px;
  position: absolute;
  right: 80px;
  margin-top: 3px;
  color: white;
}

.searchIcon img {
  filter: brightness(0) saturate(100%) invert(98%) sepia(1%) saturate(4349%)
    hue-rotate(180deg) brightness(121%) contrast(86%);
}

/* Media Queries */

@media (max-width: 1172px) {
  .main-sidebar {
    width: min(25%, 450px) !important;
  }

  .logoTop {
    width: 100% !important;
  }
}

@media (max-width: 958px) {
  .nav-items {
    display: none;
  }

  .nav-mobile {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #303030;
    border-bottom: 1px solid #424242;
  }

  .logo-mobile img {
    width: 35px;
    height: 35px;
  }

  .menuIcon {
    display: flex;
  }

  .menuIcon img {
    height: 35px;
    width: 35px;
  }

  .close {
    display: block;
  }

  .main-sidebar {
    width: 100% !important;
    left: -100%;
    border: 0px;
  }

  .logoTop {
    position: fixed;
    width: 100% !important;
    left: -100%;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    transform: none;
  }

  .dotBlink {
    display: none;
  }
  .time {
    display: none;
  }

  .logoTop img {
    width: 35px;
  }

  .main {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    margin-top: 100px;
  }

  .close img {
    width: 35px;
  }
}

@media (max-width: 913px) {
  .search-box {
    width: 95%;
  }
}
