@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");

html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: var(--black);
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 23px;
  }
}

:root {
  --blackDark: #1a1a1a;
  --black: #303030;
  --white: #ffffff;
  --white-dif: #f4f5f6;
  --yellow: #fff200;
  --golden: #e4d800e8;
  --yellow-dif: #f7ec29;
  --yellow-light: #fcf794;
  --borderColorWhite: #cdcdcd;
  --gray: #d2d2d7;
  --green: #3dc480;
  --greenDark: #28a745;
  --borderColorBlack: #424242;
  --textColorBlack: #252525;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/Fonts/Satoshi-Variable.ttf");
  font-weight: 1 1000;
}

@font-face {
  font-family: "Nohemi";
  src: url("./assets/Fonts/Nohemi-Regular.ttf");
  font-weight: 1 1000;
}

@font-face {
  font-family: "Liga Sans";
  src: url("./assets/Fonts/LigaSans-Bold.otf");
  font-weight: 1 1000;
}
@font-face {
  font-family: "Projeckt Blackbird";
  src: url("./assets/Fonts/projekt-blackbird.otf");
  font-weight: 1 1000;
}
@font-face {
  font-family: "Violet Sans";
  src: url("./assets/Fonts/VioletSans-Regular.otf");
  font-weight: 1 1000;
}

#underline {
  text-decoration: underline;
  cursor: pointer;
}

.main-app-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 100%;
  max-width: 1800px;
  height: 100%;
}

.main-docs {
  height: 100%;
  position: absolute;
  right: 0;
  padding: 100px 30px 0px 30px;
}

.space {
  height: 200px;
  width: 100%;
}
